[include]
    # Import the local configuration
    path = ~/.gitconfig.local

[core]
    # Set the default editor to Neovim
    editor = nvim

[init]
    # 'main' is the default branch
    defaultBranch = main

[push]
    # The first push of a branch automatically sets the remote
    autoSetupRemote = true

[url "git@github.com:"]
    # Clone the SSH version of a repository even if the HTTPS version is specified
    insteadOf = "https://github.com/"

[pull]
    # Always rebase when pulling
    rebase = true

[commit]
    # Allow writing '#' in commit messages (like '#include'), ignoring only what's under '# ------- >8 -------'
    cleanup = scissors

[branch]
    # Show branches in 'git branch' sorted by the last commit (instead of by name)
    sort = -committerdate

[tag]
    # Show tags in 'git tag' sorted by the last commit (instead of by name)
    sort = taggerdate

[diff]
    # Better diff algorithm, that handles moved code better
    algorithm = histogram
    # Use a different color to highlight moved code in diffs
	colorMoved = default

[merge]
    # A better conflict algorithm, which also shows the current version, among others
    conflictstyle = zdiff3

[credential]
    # Use the MacOS keychain for managing credentials
    helper = osxkeychain

# Detect data corruption eagerly
[transfer]
    fsckobjects = true
[fetch]
    fsckobjects = true
[receive]
    fsckobjects = true
