[include]
    path = ~/.gitconfig.local

[diff]
    algorithm = histogram
[init]
	defaultBranch = main
[merge]
    conflictstyle = zdiff3
[pull]
	rebase = true
[push]
    autoSetupRemote = true
[url "git@github.com:"]
	insteadOf = "https://github.com/"

[transfer]
    fsckobjects = true
[fetch]
    fsckobjects = true
[receive]
    fsckobjects = true
