# Import the local configuration
[include]
    path = ~/.gitconfig.local

# 'main' is the default branch
[init]
    defaultBranch = main

# The first push of a branch automatically sets the remote
[push]
    autoSetupRemote = true

# Clone the SSH version of a repository even if the HTTPS version is specified
[url "git@github.com:"]
    insteadOf = "https://github.com/"

# Always rebase when pulling
[pull]
    rebase = true

# Better diff algorithm, that handles moved code better
[diff]
    algorithm = histogram

# A better conflict algorithm, which also shows the current version, among others
[merge]
    conflictstyle = zdiff3

# Detect data corruption eagerly
[transfer]
    fsckobjects = true
[fetch]
    fsckobjects = true
[receive]
    fsckobjects = true
